@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

.wrap::after {
  content: '';
  display: block;
  clear: both; }

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0; }

#header {
  width: 100%;
  border-bottom: 1px solid #ddd; }
  #header .top {
    width: 1180px;
    height: 30px;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    background: #111; }
    #header .top .left {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
      #header .top .left::after {
        content: '';
        display: block;
        clear: both; }
      #header .top .left li {
        float: left;
        color: #fff;
        font: 10px/1 'poppins'; }
        #header .top .left li:last-child {
          padding-left: 10px; }
        #header .top .left li a {
          display: block;
          color: #fff;
          border-right: 1px solid #fff;
          padding: 0 10px; }
        #header .top .left li:first-of-type a {
          padding-left: 0; }
    #header .top .right {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0px; }
      #header .top .right::after {
        content: '';
        display: block;
        clear: both; }
      #header .top .right li {
        float: left; }
        #header .top .right li a {
          display: block;
          font: 10px/1 'poppins';
          color: #fff;
          padding: 0 10px;
          transition: .4s; }
        #header .top .right li:hover:nth-of-type(1) a {
          color: #4267b2; }
        #header .top .right li:hover:nth-of-type(2) a {
          color: #fccc63; }
        #header .top .right li:hover:nth-of-type(3) a {
          color: #1da1f2; }
  #header::before {
    content: '';
    height: 30px;
    position: absolute;
    width: 100%;
    background: #111; }
  #header .inner {
    width: 1180px;
    height: 80px;
    margin: 0 auto;
    position: relative; }
    #header .inner > h1 {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%); }
      #header .inner > h1 a {
        font: bold 36px/1 'Poppins';
        letter-spacing: 1px;
        color: #000; }
    #header .inner .menuWeb #gnb {
      position: absolute;
      left: 20%;
      top: 50%;
      transform: translateY(-50%); }
      #header .inner .menuWeb #gnb::after {
        content: '';
        display: block;
        clear: both; }
      #header .inner .menuWeb #gnb li {
        float: left; }
        #header .inner .menuWeb #gnb li a {
          display: block;
          padding: 30px 29px 29px;
          color: #000;
          font: normal 18px/1 'Poppins';
          transition: .3s; }
        #header .inner .menuWeb #gnb li::after {
          content: '';
          width: 0px;
          height: 3px;
          display: block;
          margin: 0 auto;
          background: #000;
          transform: translateY(1px);
          transition: .3s; }
        #header .inner .menuWeb #gnb li:hover::after {
          width: 90%; }
    #header .inner .menuWeb #util {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%); }
      #header .inner .menuWeb #util li {
        float: left; }
        #header .inner .menuWeb #util li a {
          display: block;
          padding-right: 10px;
          margin-right: 10px;
          color: #555;
          font: normal 13px/1 'Poppins';
          transition: .4s; }
          #header .inner .menuWeb #util li a:hover {
            color: #000;
            font-weight: bold;
            transform: scale(1.1); }
        #header .inner .menuWeb #util li:last-of-type a {
          padding-right: 0; }

#visual {
  width: 100%;
  height: calc(100vh - 112px);
  background: #000;
  position: relative;
  overflow: hidden; }
  #visual video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .4; }
  #visual .inner {
    width: 1180px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    #visual .inner h1 {
      font: normal 100px/1 'poppins';
      color: #fff;
      margin-bottom: 30px; }
    #visual .inner p {
      font: normal 20px/1 'Poppins';
      color: #fff;
      margin: 50px; }
    #visual .inner a {
      display: block;
      margin: 0 auto;
      width: 200px;
      height: 50px;
      border: 1px solid #a2a2a2;
      color: #111;
      font: bold 14px/50px 'poppins';
      background: #fff;
      letter-spacing: 1px;
      transition: .5s; }
      #visual .inner a:hover {
        background: #111;
        color: #fff; }

#footer {
  width: 100%;
  background: #fff; }
  #footer .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 64px 0; }
    #footer .inner .top {
      padding-bottom: 40px;
      border-bottom: 1px solid #cacaca46; }
      #footer .inner .top::after {
        content: '';
        display: block;
        clear: both; }
      #footer .inner .top article {
        margin-right: 16px;
        float: left;
        padding: 8px 12px; }
        #footer .inner .top article:last-child {
          margin-right: 0; }
        #footer .inner .top article h1 {
          font: bold 22px/1 'poppins';
          color: #1a1a1a;
          margin-bottom: 8px; }
        #footer .inner .top article h2 {
          font: bold 16px/1 'poppins';
          color: #1a1a1a;
          margin-bottom: 8px;
          padding: 8px 12px; }
        #footer .inner .top article:last-of-type h2 {
          padding: 8px 0; }
        #footer .inner .top article li {
          border-radius: 5px;
          padding: 8px 12px;
          transition: .1s; }
          #footer .inner .top article li:hover {
            background: #f8f8f8; }
          #footer .inner .top article li a {
            font: normal 14px/20px 'poppins';
            color: #1a1a1a; }
        #footer .inner .top article p {
          margin: 20px 0 0 0;
          font: normal 14px/20px 'poppins';
          color: #666; }
        #footer .inner .top article:nth-of-type(1) {
          width: 30%; }
          #footer .inner .top article:nth-of-type(1) a {
            display: block;
            margin: 20px 0 0 0;
            color: #1a1a1a;
            font-weight: bold;
            font-size: 14px; }
            #footer .inner .top article:nth-of-type(1) a i {
              padding-right: 10px; }
        #footer .inner .top article:nth-of-type(2) {
          width: 20%; }
        #footer .inner .top article:nth-of-type(3) {
          width: 20%; }
        #footer .inner .top article:nth-of-type(4) {
          width: 25%; }
          #footer .inner .top article:nth-of-type(4) a {
            display: block;
            width: 100%;
            height: 40px;
            margin: 12px auto;
            border-radius: 5px;
            background: #f8f8f8;
            font: bold 15px/40px 'poppins';
            color: #1a1a1a;
            text-align: center;
            letter-spacing: 1px;
            transition: .3s; }
            #footer .inner .top article:nth-of-type(4) a:hover {
              background: gainsboro; }
          #footer .inner .top article:nth-of-type(4) p {
            text-align: center;
            color: #a2a2a2;
            margin: 0; }
    #footer .inner .bottom {
      padding-top: 40px; }
      #footer .inner .bottom::after {
        content: '';
        display: block;
        clear: both; }
      #footer .inner .bottom article {
        float: left;
        margin-right: 16px;
        padding: 8px 12px; }
        #footer .inner .bottom article:last-child {
          margin-right: 0; }
        #footer .inner .bottom article:nth-of-type(1) {
          width: 30%; }
        #footer .inner .bottom article:nth-of-type(2) {
          width: 65%; }
        #footer .inner .bottom article ul {
          padding: 0 11px; }
          #footer .inner .bottom article ul::after {
            content: '';
            display: block;
            clear: both; }
          #footer .inner .bottom article ul li {
            float: left; }
            #footer .inner .bottom article ul li a {
              font: 11px/20px 'poppins';
              color: #a2a2a2;
              padding-right: 20px; }
            #footer .inner .bottom article ul li:hover a {
              color: #1a1a1a; }
        #footer .inner .bottom article p {
          margin-top: 20px;
          padding: 0 11px;
          font: 10px/20px 'poppins';
          color: #CACACA; }

/*# sourceMappingURL=style.css.map */
