@import "header_sub";

textarea:focus, input:focus{
    outline: none;
}
.community {
    .sub_visual{
        background:url(./../img/banner7.jpg) no-repeat center/cover fixed ;
    }
    .inner {
        width: 100%; ; min-height: 500px; margin: 0px auto;
        border: none;

        
        #cm2{
            width: 1180px; margin: 50px auto;
            h1{
                font: bold 32px/1 'arial';
                margin-bottom: 50px;
            }
            .question{
                border-bottom: 1px solid #0220470D;
                margin-bottom: 70px; position: relative;

                span{
                    i{
                        position: absolute;
                        left: 0; top: 5px;
                        font-size: 32px; color: #0326530d;
                    }
                }

                input{
                    width: 100%;
                    padding: 0px 0px 16px 46px;
                    font:  32px/1 'arial';
                    border:none;
                    caret-color: #3182F6;

                    &.on{
                        border-bottom: 1px solid #3182F6;   
                    }
                }
                
            }

            #cm_tab{
                width: 100%; position: relative;
                // margin: 100px auto;
                min-height: 800px;
                padding-left: calc(1180px * 0.25);
                border-bottom: 1px solid #0220470D;

        
                >dt{
                    width: calc(1180px * 0.25); height: 80px;
                    position: absolute;
                    left: 0;
        
                    &:nth-of-type(1){ top : calc(80px*0)}
                    &:nth-of-type(2){ top : calc(80px*1)}
                    &:nth-of-type(3){ top : calc(80px*2)}
                    &:nth-of-type(4){ top : calc(80px*3)}
                    &:nth-of-type(5){ top : calc(80px*4)}
                    &:nth-of-type(6){ top : calc(80px*5)}
                    &:nth-of-type(7){ top : calc(80px*6)}
                    &:nth-of-type(8){ top : calc(80px*7)}
        
        
        
        
                    a{
                        display: block;
                        width: 100%; height: 100%;
                        background-color: #fff; font: bold 20px/80px 'arial';
                        color: #aaa; text-align: center;
                        border-radius: 10px;
                        transition: .3s;
        
                        &.on {
                            background-color: #0220470D;
                            color: #3182F6;
                            font-size: 22px;
                        }
        
                        &:hover{
                            background-color: #0220470D;
                        }
                    }
                }
                >dd{
                    width: 100%;
                    background-color: #fff; padding: 0px 20px;
                    display: none;
        
                    &#tab1{
                        display: block;
                    }
        
                    >dl{
                        >dt{
                            padding: 30px 16px 30px 50px;
                            width: 100%;
                            background-color: #fff;
                            font:  19px/1 'arial';
                            color: #4E5968;
                            cursor: pointer;
                            transition: .5s;
                            position: relative;
                            border-radius: 10px;
                            &.open{
                                background-color: #0220470D; color: #111;
                            }
                            i{
                                position: absolute; 
                                left: 10px; top: 29px;
                                font-size: 22px;
                                color: lightgray;
                            }
                            &:hover{
                                background-color: #0220470D;
                            }
                        }
                        >dd{
                            width: 100%;
                            padding: 20px;
                            font:  bold 16px/1.3 'arial';  color: #555;
                            display: none;
        
                            &:nth-of-type(1){
                                display: block;
                            }
                            
                        }
                    }
                }
            }
        }
        
        
        #cm4{
            background-color: rgb(238, 246, 243);

            .wrap_cm4{
                width: 1180px; margin: 0 auto; padding: 100px 250px;
                background: url(./../img/hand-phone-call-icon.jpg) no-repeat center/cover;
                background-size: 40%; background-position: 100% 0%;
                
                &::after{
                    display: block; content: ''; clear: both;
                }
                .cm4_left{
                    width: 60%; float: left;
                    p{
                        font-size: 28px;    
                        font-weight: 700;
                        line-height: 140%;
                        color: rgba(0, 12, 30, 0.8);
                        margin-bottom: 8px;
                    }
                    h2{
                        display: block;
                        font-size: 19px;
                        font-weight: 500;
                        line-height: 150%;
                        color: rgba(0, 19, 43, 0.58);
                        margin-bottom: 40px;
                    }
                    .call_wrap{
                        ul{
                            li{
                                float: left;
                                text-align: center;
                                font-size: 15px;
                                font-weight: 400;
                                line-height: 150%;
                                color: rgba(0, 19, 43, 0.58);
                                span{
                                    font-size: 19px;
                                    font-weight: 700;
                                    line-height: 150%;
                                    color: rgba(3, 18, 40, 0.7);
                                }
                            }
                            .call1{
                                border-right: 2px solid rgba(0, 27, 55, 0.1);
                                padding-right: 20px;
                            }
                            .call2{
                                padding-left: 20px;
                            }
                        }
                    }
                }
                .cm4_right{
                    width: 40%; height: 200px; float: left; position: relative;
                    // .cm_img{
                    //     background-image: url(../../img/hand-phone-call-icon.jpg) no-repeat center/cover;
                    //     position: absolute;
                    //     top: 50%; left: 50%;


        
                    // }
   
                }
            }
            
        }

    }

}



@import "footer_sub";