@import "header_sub";

.community {
    .sub_visual{
        background:url(./../img/banner7.jpg) no-repeat center/cover fixed ;
    }
    .inner {
        width: 100%; ; min-height: 500px; margin: 0px auto;
        border: none;

        #cm2{
            width: 1180px; border: 1px solid #000; position: relative; margin: 0 auto; 

            .cm_tab2{
                dt{
                    width: 200px; height: 50px;
                    position: absolute; left: 0;
                    
                    &:nth-of-type(1){ bottom:calc(50px * 6); /* 300px*/}
                    &:nth-of-type(2){ bottom:calc(50px * 5); /* 250px*/ }
                    &:nth-of-type(3){ bottom:calc(50px * 4); /* 200px*/ }
                    &:nth-of-type(4){ bottom:calc(50px * 3); /* 150px*/}
                    &:nth-of-type(5){ bottom:calc(50px * 2); /* 100px*/ }
                    &:nth-of-type(6){ bottom:calc(50px * 1); /* 50px*/ }
                    &:nth-of-type(7){ bottom:calc(50px * 0); /* 0px*/ }

                    a{
                        display: block; width: 100%; height: 100%;
                        background-color: #555;
                        font: bold 14px/50px 'airal';
                        color: #aaa;
                        text-align: center;
                        
                        &.on{
                            background-color: #fff;
                            color: #222;
                        }
                    }
                }

                dd{
                    width: 100%;
                    background-color: #fff;
                    padding: 60px;
                    display: none;

                    
                }
            }
        }
        
        #cm4{
            background-color: rgb(238, 246, 243);

        
            .wrap_cm4{
                width: 1180px; margin: 0 auto; padding: 100px 50px;
                background: url(./../img/hand-phone-call-icon.jpg) no-repeat center/cover;
                background-size: 40%; background-position: 100% 0%;
                
                &::after{
                    display: block; content: ''; clear: both;
                }
                .cm4_left{
                    width: 60%; float: left;
                    p{
                        font-size: 28px;    
                        font-weight: 700;
                        line-height: 140%;
                        color: rgba(0, 12, 30, 0.8);
                        margin-bottom: 8px;
                    }
                    h2{
                        display: block;
                        font-size: 19px;
                        font-weight: 500;
                        line-height: 150%;
                        color: rgba(0, 19, 43, 0.58);
                        margin-bottom: 40px;
                    }
                    .call_wrap{
                        ul{
                            li{
                                float: left;
                                text-align: center;
                                font-size: 15px;
                                font-weight: 400;
                                line-height: 150%;
                                color: rgba(0, 19, 43, 0.58);
                                span{
                                    font-size: 19px;
                                    font-weight: 700;
                                    line-height: 150%;
                                    color: rgba(3, 18, 40, 0.7);
                                }
                            }
                            .call1{
                                border-right: 2px solid rgba(0, 27, 55, 0.1);
                                padding-right: 20px;
                            }
                            .call2{
                                padding-left: 20px;
                            }
                        }
                    }
                }
                .cm4_right{
                    width: 40%; height: 200px; float: left; position: relative;
                    // .cm_img{
                    //     background-image: url(../../img/hand-phone-call-icon.jpg) no-repeat center/cover;
                    //     position: absolute;
                    //     top: 50%; left: 50%;


        
                    // }
   
                }
            }
            
        }

    }

}



@import "footer_sub";