#footer_sub{
    width: 100%;
    background:#fff;

    .inner{
        width: 1180px;
        margin:0 auto;
        padding: 64px 0;
        // background: #efefef;
        
        .top{
            // background: #cfcfcf;
            padding-bottom: 40px;
            border-bottom: 1px solid #cacaca46;
            &::after{
                content: '';
                display: block;
                clear: both;
            }

            article{
                margin-right: 16px;
                // background: #afafaf;
                float: left;
               

                &:last-child{
                    margin-right: 0;
                }

                padding: 8px 12px;


                h1{
                    font: bold 22px/1 'poppins';
                    color: #1a1a1a;
                    margin-bottom: 8px;
                }
                h2{
                    font: bold 16px/1 'poppins';
                    color: #1a1a1a;
                    margin-bottom: 8px;
                    padding: 8px 12px;
                    
                }
                &:last-of-type h2{
                    padding: 8px 0;
                }

                li{
                    
                    border-radius: 5px;
                    padding: 8px 12px;
                    transition: .1s;
                    &:hover{
                        background: rgb(248, 248, 248);
                    }
                    

                    a{
                        font: normal 14px/20px 'poppins';
                        color: #1a1a1a;
                    }
                    
                }
                p{
                    margin: 20px 0 0 0;
                    font: normal 14px/20px 'poppins';
                    color: #666;
                }
                
                &:nth-of-type(1){
                    width: 30%;
                    a{
                        display: block;
                        margin: 20px 0 0 0;
                        color: #1a1a1a;
                        font-weight: bold;
                        font-size: 14px;
                        i{
                            padding-right: 10px;
                        }
                    }
                }
                &:nth-of-type(2){
                    width: 20%;
                }
                &:nth-of-type(3){
                    width: 20%;
                }
                &:nth-of-type(4){
                    width: 25%;
                    a{
                        display: block;
                        width: 100%;
                        height: 40px;
                        margin: 12px auto;
                        border-radius: 5px;
                        background: rgba(248, 248, 248, 1);

                        font: bold 15px/40px 'poppins';
                        color: #1a1a1a;
                        text-align: center;
                        letter-spacing: 1px;
                        transition: .3s;

                        &:hover{
                            background: rgb(220, 220, 220);
                        }

                    }
                    p{
                        text-align: center;
                        color: rgb(162,162,162);
                        margin: 0;
                    }
                }

            }
        }
        

        .bottom{
            padding-top: 40px;
            &::after{
                content: '';
                display: block;
                clear: both;
            }
            
            article{
                // background: #afafaf;
                float: left;
                margin-right: 16px;

                padding: 8px 12px;
                &:last-child{
                    margin-right: 0;
                }

                &:nth-of-type(1){
                    width: 30%;
                }
                &:nth-of-type(2){
                    width: 65%;
                }
                
                ul{
                    padding: 0 11px;
                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    }
                    li{
                        float: left;
                        a{
                            font: 11px/20px 'poppins';
                            color: #a2a2a2;
                            padding-right: 20px;
                        }
                        &:hover a{
                            color: #1a1a1a;
                        }
                    }
                }
                p{
                    margin-top: 20px;
                    padding: 0 11px;
                    font: 10px/20px 'poppins';
                    color: #CACACA;
                }
            }

        }
    }
}

@media screen and (max-width:1179px){


    #footer_sub{
        .inner{
            width: 100%;
            padding: 48px 10px;

            .top{
                padding-bottom: 32px;
    
                article{
                    margin-right: 12px;

                    h2{
                        padding: 8px 0px;
                    }

                    li{
                        padding: 8px 0px;
                    }
                    
                    &:nth-of-type(1){
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    &:nth-of-type(2){
                        width: 47%;
                    }
                    &:nth-of-type(3){
                        width: 47%;
                    }
                    &:nth-of-type(4){
                        width: 100%;
                        position: relative;

                        p{
                            position: absolute;
                            top: 16px;
                            right: 12px;
                        }
                    }
                }
            }
            
    
            .bottom{
                padding-top: 0px;
                article{
                    float: left;
                    margin-right: 0px;    
                    padding: 24px 12px;

    
                    &:nth-of-type(1){
                        width: 100%;
                        border-bottom: 1px solid #cacaca46;


                    }
                    &:nth-of-type(2){
                        width: 100%;
                    }
                }
    
            }
        }
    }
}


@media screen and (max-width:539px){


    #footer_sub{
        .inner{
            .top{
                padding-bottom: 32px;
    
                article{
                    &:nth-of-type(2){
                        width: 100%;
                    }
                    &:nth-of-type(3){
                        width: 100%;
                    }

                }
            }
        }
    }
}