#header_sub{
    width: 100%;
    border-bottom: 1px solid #ddd;
    background: #fff;


    .inner{
        width: 1180px;
        height: 80px;
        margin: 0 auto;
        position: relative;

        >h1{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
    
            a{
                font: bold 42px/1 'graduate';
                letter-spacing: 1px;
                color: #000;
            }
        }

        .menuWeb{
            #gnb{
                position: absolute;
                left: 20%;
                top: 50%;
                transform: translateY(-50%);
    
                &::after{
                    content: ''; display: block; clear: both;
                }
                li{
                    float: left;
                    a{
                        display: block;
                        padding: 30px 29px 29px;
                        color: #000;
                        font: normal 18px/1 'Poppins';
                        transition: .3s;
                    }              
                    &::after{
                        content: '';
                        width: 0px;
                        height: 3px;
                        display: block;
                        margin: 0 auto;
                        background: #000;

                        transform: translateY(1px);
                        transition: .3s;
                    }        
                    &:hover::after{
                        width: 90%;
                    }     
                }
            }

            #util{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);


                li{
                    float: left;
                    a{
                        display: block;
                        padding-right: 10px;
                        margin-right: 10px;
                        color: #555;
                        font: normal 13px/1 'Poppins';
                        // border-right: 1px solid #a5a5a5;
                        transition: .4s;
                        &:hover{
                            color: #000;

                        }

                    }              
                    &:last-of-type a{
                        padding-right: 0;
                    }
                }
            }
            .util2{
                position:absolute; 
                top:10px; 
                right:0px; 
                opacity: 0;

                &::after{
                    content:''; display:block; clear:both; 
                }
                li{
                   float:left; 
                   a{
                       display:block; 
                       font:12px/1 'arial'; 
                       color:#999; 
                       padding:0 10px; 
                       border-right:1px solid #aaa; 
                   } 
                   &:last-child a{
                       border-right:none; 
                   }
                }
            }
        }

        .btnCall{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 30px;
            width: 20px;
            height: 20px;
            display: none;

            &::before{
                content: ''; display: block;
                width: 100%;
                height: 2px;
                background: #000;
                position: absolute;
                top: 0; left: 0;
                transition:top 0.5s 0s, transform 0.5s 0.5s; 
            }
            &::after{
                content: ''; display: block;
                width: 100%;
                height: 2px;
                background: #000;
                position: absolute;
                bottom: 0; left: 0;
                transition:bottom 0.5s 0s, transform 0.5s 0.5s; 
            }
            span{
                display: block;
                width: 100%;
                height: 2px;
                background: #000;
                position: absolute;
                top: calc(50% - 1px) ;left: 0;
                text-indent: -9999px;
                transition:0.5s; 
            }

            &.on{
                &::before{
                    transform: rotate(45deg);
                    top: 50%;
                    margin-top: -1px;
                }
                &::after{
                    transform: rotate(-45deg);
                    bottom: 50%;
                    margin-bottom: -1px;
                }
                span{
                    // transform:translateX(100%);
                     opacity:0;  
                }
            }
        }

        .menuMo{
            position: fixed;
            top: 0;
            left: -270px;
            width: 270px;
            height: 100vh;
            background: #333;
            transition: .5s;
            padding: 35px 30px;
            box-sizing: border-box;
            z-index: 10;

            h1{
                // border-bottom: 1px solid #666;
                padding-bottom: 30px;
                a{
                    display: block;
                    font: bold 24px/1 'Poppins';
                    color: #fff;
                    text-align: center;
                }
                span{
                    font-size: 12px;
                    color: #aaa;
                    word-break: break-all;
                }
            }
            #gnbMo{
                li{
                    a{
                        display:block; 
                        width:100%; 
                        padding:20px 0; 
                        border-bottom:1px solid #444; 
                        font:bold 14px/1 'Poppins'; 
                        color:#888; 
                        text-align:center; 
                    }
                }
            }
            &.on{
                left:0; 
            }
        }
    }
}



@media screen and (max-width:1179px){
    #header_sub{
        .top{
            display:  none;
        }
        &::before{
            display: none;
        }
        .inner{
            width: 100%;
            height: 100px;
            >h1{
                left: 20px;
            }
            .menuWeb{
                #gnb{
                    display: none;
                }
                #util{
                    display: none;
                }
            }
            .btnCall{
                display: block;
            }    
        }
    }
}

@media screen and (max-width:539px){
    #header_sub{
        .inner{
            .menuWeb{
                .util2{
                    display: none;
                }
            }    
        }
    }
}