@import "header_sub";

.location {
    width: 100%;

    .sub_visual {
        background:url(./../img/banner12.jpg) no-repeat center/cover fixed;
    }
    .inner {
      width: 100%; min-height: 500px; margin: 0px auto 100px;
      border:none;

      .loc1{
         width: 1180px;
         height: 700px;
         margin: 100px auto;
         >p{
            margin-top: 50px;
            width: 80%; margin: 50px auto;

            font: 22px/1.8 'poppins';
            text-align: center;
         }
         .top_img{
            width: 100%; height: 400px;
            background: url(./../img/location1.jpg) no-repeat center/cover
         }
      }

      .loc2{
         width: 100%; padding: 70px 0;
         background-color: #efefef;
         .main{
            width: 1180px;
            margin:0 auto;
            &::after{
               content: ''; display: block; clear: both;
            }
            .left{
               width: 50%;
               float: left;
              padding: 20px 20px 20px 0;

               .main_img{
                  width: 100%;
                  height: 550px;
                  background: url(./../img/location2.jpg) no-repeat center/cover;
                  transform: rotate(-90deg);
               }
            }
            .right{
               width: 50%;
               float: left;
               padding: 20px 20px 20px 20px;

               h3{
                  font: bold 30px/1.3 'poppins';
                  color: #333333;
                  margin-bottom: 20px;
               }

               p{
                  font: 20px/1.4 'Poppins';
                  color: #666666;
                  margin-bottom: 40px;

               }

               dl{
                  width: 100%;
                  display: block;
                  &::after{
                     content: ''; display: block; clear: both;
                  }
                  dt{
                     display: block;
                     float: left;
                     width: 20%;
                     height: 50px;
                     line-height: 50px;
                     // margin-bottom: 20px;
                  }
                  dd{
                     float: left;
                     width: 80%;
                     display: block;
                     // margin-bottom: 20px;
                     height: 50px;
                     font: 18px/50px 'poppins';
                     
                  }
                  i{
                     font-size: 22px;
                     color: #666666;
                  }

               }



            }
         }
         
      }
      .loc2_2{
         width: 1180px;
         padding: 100px 0 50px;
         margin: 0 auto; 
         &::after{
            content: ''; display: block; clear: both;
         }
         h2{
            display: inline-block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
            padding: 0 65px;
            font-size: 42px;
            position: relative;

            &::before{
               position: absolute;
               content: '';
               top: 49%;
               transform: translateY(-50%);
               left: 0;
               width: 420px;
               height: 6px;
               border-top: solid 1px #000;
               border-bottom: solid 1px #000;
            }
            &::after{
               position: absolute;
               content: '';
               top: 49%;
               transform: translateY(-50%);
               right: 0;
               width: 420px;
               height: 6px;
               border-top: solid 1px #000;
               border-bottom: solid 1px #000;
            }
         }
         .left{
            width: 50%;
            float: left;
            padding: 20px 20px 20px 0;
            .second_img1{
            width: 100%;
            height: 550px;
            background: url(./../img/location3.jpg) no-repeat center/cover;
            }
            
         }
         .right{
            width: 50%;
            float: left;
            padding: 20px 0 20px 20px;
            .second_img2{
               width: 100%;
               height: 550px;
               background: url(./../img/location4.jpg) no-repeat center/cover;
               }
         }
         h3{
            font: bold 30px/1.3 'poppins';
            color: #333333;
            margin-bottom: 20px;
            margin-top: 20px;
            text-align: center;
         }

         dl{
            width: 70%;
            display: block;
            margin: 0 auto;
            &::after{
               content: ''; display: block; clear: both;
            }
            dt{
               display: block;
               float: left;
               width: 20%;
               height: 50px;
               line-height: 50px;
               // margin-bottom: 20px;
            }
            dd{
               float: left;
               width: 80%;
               display: block;
               // margin-bottom: 20px;
               height: 50px;
               font: 18px/50px 'poppins';
               
            }
            i{
               font-size: 22px;
               color: #666666;
            }

         }
      }
      .loc3{
         width: 1180px;
         margin: 0 auto;
         
         position: relative;
         #map{
         width:100%; 
          height:700px;    
         }  

         .branch{
            float:right; 
            margin-top:20px; 
            
         
            li{
               float:left; margin-right:10px; 
         
               a{
                  display:block; width:200px; height:40px; 
                  background:#555; 
                  font:bold 12px/40px '맑은 고딕'; color:#fff; 
                  text-align:center; 
               }
         
               &.on{
                  a{
                     background:#aaa; color:#333; 
                  }
               }
            }
         }


         
         .traffic{
            float:left; margin-top:20px; 
            position: absolute;
            left: 0; bottom: 60px;
            z-index: 3;
         
            li{
               float:left; margin-right:10px; 
         
               a{
                  display:block; width:100px; height:40px; 
                  background:#fff; 
                  // border: 1px solid #111;
                  border-radius: 10px;
                  font:bold 12px/40px "맑은 고딕"; color:#111; 
                  text-align:center;
               }
         
               &.on{
                  a{
                     background:#3182F6; color:#fff; 
                  }
               }
            }
         }
      }

      .location_btn{
         display: block;
         margin: 20px auto 0;
         // margin-top: 20px;
         width: 300px; height: 60px;
         text-align: center;
         font: 20px/60px 'poppins';
         color: #333333;
         background: none;
         i{
            font-size: 24px; 
            margin-right: 20px;
         }
         border: 1px solid #666666;
         
         &:nth-of-type(2){
            margin: 20px auto;
         }
         &:nth-of-type(3){
            margin: 20px auto;
         }
         &.loc_A{
            margin: 20px 0px 0px 0px;
         }
      }
    }
}

@media screen and (max-width:1179px){
   .location {  

      .inner {
        width: 100%; min-height: 500px; margin: 0px auto 100px;
        border:none;
  
        .loc1{
           width: 100%;
           height: auto;
           margin: 50px auto;

           .top_img{
              width: 100%; height: 400px;
           }
        }
  
        .loc2{
           width: 100%; padding: 30px 20px;
           .main{
              width: 100%;
              height: 100%;
              margin:0 auto;
              &::after{
                 content: ''; display: block; clear: both;
              }
              .left{
                 width: 50%;
               //   height: 500px;
                 float: left;
                padding: 20px 20px 20px 0;
                overflow: hidden;
                .main_img{
                  // width: 100%;
                  height: 750px;
                  background-image: url(./../img/location2.jpg) no-repeat center/cover;
                  }
                
  
              }
              .right{
                 width: 50%;
                 float: left;
                 padding: 20px 20px 20px 20px;
  
                 h3{
                    font: bold 30px/1.3 'poppins';
                    color: #333333;
                    margin-bottom: 20px;
                 }
  
                 p{
                    font: 22px/1.4 'Poppins';
                    color: #666666;
                    margin-bottom: 40px;
  
                 }
  
                 dl{
                    width: 100%;
                    display: block;
                    &::after{
                       content: ''; display: block; clear: both;
                    }
                    dt{
                       display: block;
                       float: left;
                       width: 20%;
                       height: 50px;
                       line-height: 50px;
                       // margin-bottom: 20px;
                    }
                    dd{
                       float: left;
                       width: 80%;
                       height: auto;
                       display: block;
                       // margin-bottom: 20px;
                       font: 22px/50px 'poppins';
                       
                    }
                    i{
                       font-size: 22px;
                       color: #666666;
                    }
  
                 }
  
  
  
              }
           }
           
        }
        .loc2_2{
           width: 100%;
           padding: 50px 20px 50px;
           margin: 0 auto; 
           &::after{
              content: ''; display: block; clear: both;
           }
           h2{
              display: inline-block;
              width: 100%;
              background-color: #fff;
              margin-bottom: 40px;
              text-align: center;
              padding: 0 65px;
              font-size: 42px;
              position: relative;
  
              &::before{
                 position: absolute;
                 content: '';
                 top: 49%;
                 transform: translateY(-50%);
                 left: 0;
                 width: 50px;
                 height: 6px;
                 border-top: solid 1px #000;
                 border-bottom: solid 1px #000;
              }
              &::after{
                 position: absolute;
                 content: '';
                 top: 49%;
                 transform: translateY(-50%);
                 right: 0;
                 width: 50px;
                 height: 6px;
                 border-top: solid 1px #000;
                 border-bottom: solid 1px #000;
              }
           }
           .left{
              width: 50%;
              float: left;
              padding: 20px 20px 20px 0;
              .second_img1{
              width: 100%;
              height: 550px;
              background: url(./../img/location3.jpg) no-repeat center/cover;
              }
              
           }
           .right{
              width: 50%;
              float: left;
              padding: 20px 0 20px 20px;
              .second_img2{
                 width: 100%;
                 height: 550px;
                 background: url(./../img/location4.jpg) no-repeat center/cover;
                 }
           }
           h3{
              font: bold 30px/1.3 'poppins';
              color: #333333;
              margin-bottom: 20px;
              margin-top: 20px;
              text-align: center;
           }
  
           dl{
              width: 70%;
              display: block;
              margin: 0 auto;
              &::after{
                 content: ''; display: block; clear: both;
              }
              dt{
                 display: block;
                 float: left;
                 width: 20%;
                 height: 50px;
                 line-height: 50px;
                 // margin-bottom: 20px;
              }
              dd{
                 float: left;
                 width: 80%;
                 display: block;
                 // margin-bottom: 20px;
                 height: auto;
                 font: 22px/50px 'poppins';
                 
              }
              i{
                 font-size: 22px;
                 color: #666666;
              }
  
           }
        }
        .loc3{
           width: 100%;
           margin: 0 auto;
           
           position: relative;
           #map{
           width:100%; 
            height:700px;    
           }  
  
           .branch{
              float:right; 
              margin-top:20px; 
           
              li{
                 float:left; margin-right:10px; 
           
                 a{
                    display:block; width:200px; height:40px; 
                    background:#555; 
                    font:bold 12px/40px '맑은 고딕'; color:#fff; 
                    text-align:center; 
                 }
           
                 &.on{
                    a{
                       background:#aaa; color:#333; 
                    }
                 }
              }
           }
  
  
           
           .traffic{
              float:left; margin-top:20px; 
              position: absolute;
              left: 0; bottom: 60px;
              z-index: 3;
           
              li{
                 float:left; margin-right:10px; 
           
                 a{
                    display:block; width:100px; height:40px; 
                    background:#fff; 
                    // border: 1px solid #111;
                    border-radius: 10px;
                    font:bold 12px/40px "맑은 고딕"; color:#111; 
                    text-align:center;
                 }
           
                 &.on{
                    a{
                       background:#3182F6; color:#fff; 
                    }
                 }
              }
           }
        }
  
        .location_btn{
           display: block;
           // margin: 20px auto 0;
           margin-top: 20px;
           width: 300px; height: 60px;
           text-align: center;
           font: 20px/60px 'poppins';
           color: #333333;
           background: none;
           i{
              font-size: 24px; 
              margin-right: 20px;
           }
           border: 1px solid #666666;
  
           &:nth-of-type(2){
              margin: 20px auto;
           }
           &:nth-of-type(3){
              margin: 20px auto;
           }
        }
      }
  }

}

@import "footer_sub";