@import "header_sub";

.location {
    width: 100%;

    .sub_visual {
        background:url(../../img/banner12.jpg) no-repeat center/cover fixed;
    }
    .inner {
        width: 1180px; min-height: 500px; margin: 0px auto 100px;
        border: 1px solid #ddd;
    }
}

@import "footer_sub";